html {
  font-size: 22px;
}
body {
  background-color: #333;
  color: whitesmoke;
}
h3 {
    color: cyan; 
}
h2 {
    color: orange;
}
a{
  color: red;
}
a:visited{
  color: red;
}
a:hover, a:active{
  color: red
} 
table,tr,th, td, caption{
  border: 1px solid #eee;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  color: plum;
  padding: 0.5rem;
}